.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #c3bcc2;
  font: inherit;
}

.wrapper.error {
  color: hsl(from var(--fxRed) h s l / 1)!important;
}

.wrapper:focus-within > label,
.wrapper:focus-within > span {
  text-shadow: 0 0 10px currentColor;
}

.wrapper > input,
.wrapper > textarea {
  width: 100%;
  color: inherit;
  background-color: transparent;
  border: 1px solid #c3bcc2;
  border-radius: 9px;
  padding: 0.4em 0.8em;

  &:focus {
    background-color: hsl(from var(--fxBlue) h s l / 0.1)!important;
    border-color: hsl(from var(--fxBlue) h s l / 1)!important;
    box-shadow: 0 0 0 3px hsl(from var(--fxBlue) h s l / 0.8)!important;
  }
}

.wrapper.error > input,
.wrapper.error > textarea {
  background-color: hsl(from var(--fxRed) h s l / 0.1)!important;
  border-color: hsl(from var(--fxRed) h s l / 1)!important;

  &:focus {
    border-color: hsl(from var(--fxRed) h s l / 1)!important;
    box-shadow: 0 0 0 3px hsl(from var(--fxRed) h s l / 0.8)!important;
  }
}

.wrapper > label {
  display: block;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.wrapper > span {
  position: absolute;
  inset: auto 0.6rem -1.5em auto;
  font-size: 0.75em;
}

@media screen and (max-width: 120rem) {
  .wrapper > textarea {
    height: 9em;
  }
}

@media screen and (max-width: 100rem) {
  .wrapper > textarea {
    height: 8em;
  }
}

@media screen and (max-width: 64rem) {
  .wrapper > textarea {
    height: auto;
  }
}