.wrapper {
  position: relative;
}

.wrapper > span:not(.nonAbsolute) {
  position: absolute;
  inset: 0;
  padding: inherit;
}

.wrapper > *:first-child {
  animation: glitch 5s infinite;
  animation-delay: inherit;
}

.wrapper > *:nth-child(2) {
  animation: glitchTop 5s infinite;
  animation-delay: inherit
}

.wrapper > *:nth-child(3) {
  animation: glitchBottom 5s infinite;
  animation-delay: inherit
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 var(--fxRed--05),
    -0.025em -0.025em 0 var(--fxGreen--05),
    0.025em 0.025em 0 var(--fxBlue--05);
  }
  2% {
    text-shadow: 0.05em 0 var(--fxRed--05),
    -0.025em -0.025em 0 var(--fxGreen--05),
    0.025em 0.025em 0 var(--fxBlue--05);
  }
  2.1% {
    text-shadow: -0.15em 0 var(--fxRed--05),
    0.15em 0.025em 0 var(--fxGreen--05),
    -0.025em -0.025em 0 var(--fxBlue--05);
  }
  5% {
    text-shadow: -0.15em 0 var(--fxRed--05),
    0.15em 0.025em 0 var(--fxGreen--05),
    -0.025em -0.025em 0 var(--fxBlue--05);
  }
  5.1% {
    text-shadow: 0.05em 0 var(--fxRed--05),
    -0.025em -0.025em 0 var(--fxGree--05n),
    -0.025em -0.025em 0 var(--fxBlue--05);
  }
  20% {
    text-shadow: 0.05em 0 var(--fxRed--05),
    -0.025em -0.05em 0 var(--fxGreen--05),
    -0.025em -0.025em 0 var(--fxBlue--05);
  }
  20.1% {
    text-shadow: none;
  }
  25% {
    text-shadow: none;
  }
  25.1% {
    text-shadow: 0.05em 0 var(--fxRed--05),
    -0.025em -0.05em 0 var(--fxGreen--05),
    -0.025em -0.025em 0 var(--fxBlue--05);
  }
  26% {
    text-shadow: 0.05em 0 var(--fxRed--05),
    -0.025em -0.05em 0 var(--fxGreen--05),
    -0.025em -0.025em 0 var(--fxBlue--05);
  }
  26.1% {
    text-shadow: none;
  }
  30% {
    text-shadow: none
  }
  30.1% {
    text-shadow: 0.05em 0 var(--fxRed--05),
    0.025em -0.05em 0 var(--fxGreen--05),
    0.025em -0.025em 0 var(--fxBlue--05);
  }
  32% {
    text-shadow: 0.05em 0 var(--fxRed--05),
    0.025em -0.05em 0 var(--fxGreen--05),
    0.025em -0.025em 0 var(--fxBlue--05);
  }
  32.1% {
    text-shadow: none;
  }
  100% {
    text-shadow: none
  }
}

@keyframes glitchTop {
  0% {
    transform: translateX(-0.05em);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  }
  2% {
    transform: translateX(-0.05em);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  }
  2.1% {
    transform: translateX(0);
  }
  12% {
    transform: translateX(0);
  }
  12.1% {
    transform: translateX(-0.05em);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  }
  13% {
    transform: translateX(-0.05em);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  }
  13.1% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }

}

@keyframes glitchBottom {
  0% {
    transform: translateX(0.05em);
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  }
  2% {
    transform: translateX(0.05em);
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  }
  2.1% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0);
  }
  15.1% {
    transform: translateX(0.05em);
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  }
  16% {
    transform: translateX(0.05em);
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  }
  16.1% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }

}