.wrapper {
  --itemGap: 0.6rem;
  overflow: hidden;
  display: flex;
  gap: 0;
}

.wrapperAnimated {
  position: relative;
}

.wrapperAnimated:after {
  content: "";
  position: absolute;
  inset: 0;
  background:
      linear-gradient(
          90deg,
          rgba(36, 36, 36, 85) 0%,
          rgba(0, 0, 0, 0) 10%,
          rgba(0, 0, 0, 0) 90%,
          rgba(36, 36, 36, 85) 100%);
}

.marquee {
  display: flex;
  animation: roll infinite linear;
}

.marquee > li {
  margin-right: var(--itemGap);
}

@keyframes roll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
