.base {
  width: 3.6rem;
  aspect-ratio: 1;
  fill: #c3bcc2;
  transition: filter 0.5s;
}

@media (hover: hover) {
  /*.link:focus > .base,*/
  .base:hover {
    filter: drop-shadow(0 0 10px #c3bcc2);
  }
  .base:active {
    filter: none;
  }
}

@media screen and (max-width: 86rem) {
  .base {
    width: 2.4rem;
  }
}

@media screen and (max-width: 30rem) {
  .base {
    width: 2rem;
  }
}
