.wrapper {
  padding-top: 2em;
  font-size: 1em;
  margin-inline: auto;
}

.contactHeader {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 2em;
}

.headerPhotoWrapper {
  border-right: 1px solid currentColor;
  padding-right: 2em;
}

.headerPhoto {
  width: 10em;
  border-radius: 9px;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.content {
  max-width: 48ch;
  margin-inline: auto;
  margin-bottom: 2em;
}

@media screen and (max-width: 64rem) {
  .wrapper {
    border-bottom: 1px solid #c3bcc2;
    padding-block: 1em;
    margin-bottom: 2em;
  }
}
