.wrapper {
  margin-block: auto;
  font-size: 1em;
  margin-inline: auto;
}

.socials {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 2em;
}

.content {
  max-width: 48ch;
  margin-inline: auto;
  margin-bottom: 2em;
}

@media screen and (max-width: 64rem) {
  .wrapper {
    border-bottom: 1px solid #c3bcc2;
    padding-block: 1em;
    margin-bottom: 2em;
  }
}
