.wrapper {
  position: relative;
  width: 64rem;
  backdrop-filter: blur(3px);
  background-color: rgba(26, 26, 26, 0.3);
  border: 1px solid #000;
  border-radius: 9px;
  transition: background-color 2s, box-shadow 2s;
  padding: 9.6rem;
}

.wrapper > fieldset {
  border: none;

  &:disabled {
    visibility: hidden;
  }
}

.fieldsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-inline: auto;
  margin-bottom: 2em;
}

.wrapper:focus-within {
  background-color: rgba(26, 26, 26, 0.9);
  box-shadow: 0 0 5px 5px #1a1a1a;
}

.statusWrapper {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  text-align: center;
  padding: 2em;
}

.requestPending {
  gap: 0.75em;
}

.requestPending > p {
  font-size: 1.25em;
}

.requestError {
  gap: 1em;
}

.requestError > p {
  font-weight: 600;
  font-size: 1.25em;
  color: var(--fxRed--10);
}

.requestError > span {
  margin-bottom: 0.75em;
}

.requestSuccessful {
  gap: 1em;
}

.requestSuccessful > p {
  font-weight: 600;
  font-size: 1.25em;
  color: var(--fxGreen--10);
}

.requestSuccessful > span {
  margin-bottom: 0.75em;
}

@media screen and (max-width: 120rem) {
  .wrapper {
    width: 56rem;
    padding: 8rem;
  }
}

@media screen and (min-width: 64rem) {
  .requestError {
    background-color: var(--fxRed--01);
    border: 3px solid var(--fxRed--05);
  }

  .requestSuccessful {
    background-color: var(--fxGreen--01);
    border: 3px solid var(--fxGreen--08);
  }
}

@media screen and (max-width: 100rem) {
  .wrapper {
    width: 48rem;
    padding: 6.4rem;
  }
}

@media screen and (max-width: 86rem) {
  .wrapper {
    width: 36rem;
    padding: 4.8rem;
  }
}

@media screen and (max-width: 64rem) {
  .wrapper {
    width: min(48ch, 100%);
    background-color: unset;
    border: none;
    padding: 0;
  }
}
