.wrapper {
  background-color: #242424;
  border: 3px solid #000;
  border-radius: 9px;
}

.imageWrapper {
  position: relative;
  border-bottom: 3px solid #000;
  margin-bottom: 2.4rem;
}

.projectImage {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16/9;
  filter: grayscale(50%);
}

.projectTitle {
  font-size: 4.8rem;
  font-weight: 600;
  padding-inline: var(--contentPadding);
  margin-bottom: 0.25em;
}

.projectTags {
  margin-bottom: 1.8rem;
}

.projectDescription {
  font-size: 1.8rem;
  padding-inline: var(--contentPadding);
  margin-bottom: 2em;
}

.actions {
  display: flex;
  justify-content: center;
  padding-inline: var(--contentPadding);
  margin-bottom: 6.4rem;
}

@media screen and (max-width: 120rem) {
  .imageWrapper {
    margin-bottom: 1.6rem;
  }

  .projectTitle {
    font-size: 3.6rem;
  }

  .projectTags {
    margin-bottom: 1.2rem;
  }

  .projectDescription {
    font-size: 1.6rem;
  }

  .actions {
    margin-bottom: 4.8rem;
  }

  .linkButton {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 100rem) {
  .imageWrapper {
    margin-bottom: 1.2rem;
  }

  .projectTitle {
    font-size: 3rem;
  }

  .projectTags {
    margin-bottom: 0.8rem;
  }

  .projectDescription {
    font-size: 1.4rem;
  }

  .actions {
    margin-bottom: 3.2rem;
  }

  .linkButton {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 86rem) {
  .imageWrapper {
    margin-bottom: 0.8rem;
  }

  .projectTitle {
    font-size: 2.4rem;
  }

  .projectTags {
    margin-bottom: 0.8rem;
  }

  .projectDescription {
    font-size: 1.2rem;
  }

  .actions {
    margin-bottom: 3.2rem;
  }

  .linkButton {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 40rem) {
  .imageWrapper {

  }

  .projectTitle {

  }

  .projectTags {

  }

  .projectDescription {

  }

  .actions {

  }

  .linkButton {

  }
}

@media screen and (max-aspect-ratio: 4/3) {
  .imageWrapper {

  }

  .projectTitle {

  }

  .projectTags {

  }

  .projectDescription {

  }

  .actions {

  }

  .linkButton {

  }
}