.wrapper {
  overflow: hidden;
  background-color: #242424;
  border: 3px solid #000;
  border-radius: 9px;
}

.imageWrapper {
  position: relative;
  border-bottom: 3px solid #000;
  margin-bottom: 0.5em;
}

.projectImage {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16/9;
  filter: grayscale(50%);
}

.infoWrapper {
  padding-inline: 1em;
}

.projectTitle {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.projectTags {
  margin-bottom: 0.75em;
}

.projectDescription {
  font-size: 0.75em;
  margin-bottom: 2em;
}

.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.linkButton {
  font-size: 0.75em;
}
