.wrapper {
  max-width: min(192rem, 100%);
  padding: 4em 0.5em;
  margin-inline: auto;
}

.title {
  font-size: 3em;
  margin-bottom: 1em;
}

@media screen and (max-width: 120rem) {
  .wrapper {
    max-width: 160rem;
  }
}

@media screen and (max-width: 100rem) {
  .wrapper {
    max-width: 136.6rem;
  }
}

@media screen and (max-width: 86rem) {
  .wrapper {
    max-width: 102.4rem;
  }
}

@media screen and (max-width: 64rem) {
  .title {
    border-bottom: 1px solid hsl(from #c3bcc2 h s l / 0.75);
    padding: 0 0.25em 0.1em;
  }
}
