.contactWrapper {
  --offsetY: 6.4rem;
  display: grid;
  isolation: isolate;
  grid-template: var(--offsetY) auto var(--offsetY) / 1fr auto calc(2 * var(--offsetY));
  margin-top: calc(var(--offsetY) * -1);
  margin-bottom: 9.6rem;
}

.background {
  position: relative;
  grid-area: 2 / 1 / 2 / -1;
  background: linear-gradient(30deg, #111, #1a1a1a, #242424);
  border-radius: 9px;
}

.background::before,
.background::after {
  content: "";
  position: absolute;
  inset: -.5rem;
  background: conic-gradient(var(--fxRed), var(--fxGreen), var(--fxBlue), var(--fxRed));
  border-radius: inherit;
  z-index: -1;
  transition: filter 2s;
}

.background:after {
  filter: blur(1rem);
}

.contactForm:focus-within + div:after {
  filter: blur(4rem);
}

.contactCard {
  grid-area: 2 / 1 / 2 / 1;
  z-index: 2;
}

.contactForm {
  grid-area: 1 / 2 / -1 / 2;
  z-index: 3;
}


@media screen and (max-width: 120rem) {
  .contactWrapper {
    --offsetY: 4.6rem;
  }
}

@media screen and (max-width: 100rem) {
    .contactWrapper {
      --offsetY: 3.2rem;
    }
}

@media screen and (max-width: 86rem) {
    .contactWrapper {
      --offsetY: 2.4rem;
    }
}

@media screen and (max-width: 64rem) {
  .contactWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .background {
    display: none;
  }

  .contactCard {
    z-index: 2;
  }

  .contactForm {
    z-index: 3;
    margin-inline: auto;
  }
}
