.heroSection {
  display: flex;
  min-height: 100vh;
}

.contentWrapper {
  max-width: min(192rem, 100%);
  margin: auto;
}

.personalInfoWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 10em;
}

.title {
  text-align: center;
  font-size: 2.5em;
  letter-spacing: 0.5ch;
  margin-bottom: 0.25em;
}

.name {
  line-height: 1;
  letter-spacing: 0.1ch;
  font-size: 7.5em;
  font-weight: 700;
  margin-bottom: 0.25em;
}

.description {
  text-align: center;
  max-width: 64ch;
  font-size: 1.25em;
  margin: 0 auto 2em;
}

.cta {
  align-self: center;
  font-size: 1.25em;
}

@media screen and (max-width: 64rem) {
  .name {
    letter-spacing: unset;
    font-size: 6em;
  }
}

@media screen and (max-width: 30rem) {
  .personalInfoWrapper {
    padding-inline: 1em;
  }

  .title {
    font-size: 1.6em;
  }

  .name {
    font-size: 3.2em;
  }
}
