.mainNavbar {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: rgba(26, 26, 26, 0.3);
  filter: drop-shadow(0 0 3px #000);
  backdrop-filter: blur(3px);
  transition: opacity 0.5s;
  padding-top: 0.8rem;
}

.linkWrapper {
  max-width: min(192rem + 4.8rem, 100%);
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 3.2rem;
  padding: 0.6rem var(--contentPadding);
  margin-inline: auto;
}

.hidden {
  opacity: 0;
}