.mainNavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: rgba(26, 26, 26, 0.90);
  padding-block: 0.4rem;
}

.linkWrapper {
  display: flex;
  justify-content: flex-end;
  max-width: min(192rem, 100% - 1.2rem);
  list-style: none;
  gap: 3.2rem;
  padding: 0.6rem var(--contentPadding);
  margin-inline: auto;
}
