.loading {
  margin-bottom: 1em;
}

.error {
  font-weight: 700;
  font-size: 1.25em;
  color: var(--fxRed--10);
}

.projectsShowcase {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: flex-start;
  gap: 9.6rem;
  margin-bottom: 4.8rem;
}

.actions {
  margin-bottom: auto;
}
