.wrapper {
  position: relative;
  display: grid;
  grid-template-areas:
      "topLeft carousel topRight"
      "buttonLeft carousel buttonRight"
      "bottomLeft carousel bottomRight";
  justify-items: center;
  isolation: isolate;
}

.carouselElements {
  grid-area: carousel;
  display: grid;
  grid-template-areas: "scene";
  transform-style: preserve-3d;
  perspective: 1000px;
}

.carouselCard {
  filter: saturate(25%) blur(3px) brightness(75%);
  opacity: 0;
  grid-area: scene;
  width: 60rem;
  transition: transform 0.7s, opacity 0.5s, filter 0.5s, box-shadow 0.5s;
}

.prev {
  transform: rotateY(-30deg) translateX(-200%);
}

.left {
  opacity: 1;
  transform: rotateY(-10deg) translateX(-120%);
}

.active {
  z-index: 5;
  opacity: 1;
  filter: none;
  box-shadow: 0 0 15px 5px #000;
}

.right {
  opacity: 1;
  transform: rotateY(10deg) translateX(120%);
}

.next {
  transform: rotateY(30deg) translateX(200%);
}

@media screen and (max-width: 120rem) {
  .wrapper {
    max-width: 160rem;
  }

  .carouselElements {
    perspective: 750px;
  }

  .carouselCard {
    width: 48rem;
  }
}

@media screen and (max-width: 100rem) {
  .wrapper {
    max-width: 136.6rem;
  }

  .carouselElements {
    perspective: 500px;
  }

  .carouselCard {
    width: 40rem;
  }
}

@media screen and (max-width: 86rem) {
  .wrapper {
    max-width: 102.4rem;
  }

  .carouselElements {
    perspective: 250px;
  }

  .carouselCard {
    width: 32rem;
  }
}

@media screen and (max-width: 40rem) {
  .imageWrapper {

  }

  .projectTitle {

  }

  .projectTags {

  }

  .projectDescription {

  }

  .actions {

  }
}

@media screen and (max-aspect-ratio: 4/3) {
  .imageWrapper {

  }

  .projectTitle {

  }

  .projectTags {

  }

  .projectDescription {

  }

  .actions {

  }
}