.wrapper {
  position: relative;
  display: grid;
  grid-template-areas:
      "topLeft carousel topRight"
      "buttonLeft carousel buttonRight"
      "bottomLeft carousel bottomRight";
  justify-items: center;
  isolation: isolate;
}

.carouselElements {
  grid-area: carousel;
  display: grid;
  grid-template-areas: "scene";
  transform-style: preserve-3d;
  perspective: 1000px;
}

.carouselCard {
  filter: saturate(25%) blur(3px) brightness(75%);
  opacity: 0;
  grid-area: scene;
  width: 60rem;
  transition: transform 0.7s, opacity 0.5s, filter 0.5s, box-shadow 0.5s;
}

.prev {
  transform: rotateY(-30deg) translateX(-200%);
}

.left {
  opacity: 1;
  transform: rotateY(-10deg) translateX(-120%);
}

.active {
  z-index: 5;
  opacity: 1;
  filter: none;
  box-shadow: 0 0 15px 5px #000;
}

.right {
  opacity: 1;
  transform: rotateY(10deg) translateX(120%);
}

.next {
  transform: rotateY(30deg) translateX(200%);
}

.chevronBtn {
  z-index: 2;
  aspect-ratio: 1;
  color: #1a1a1a;
  background-color: #c3bcc2;
  border-radius: 5px;
  transition: box-shadow 0.5s;
  padding: 0.6rem;

  &:hover:not(&:active) {
    box-shadow: 0 0 15px 2px #c3bcc2;
  }
}

.chevronBtnLeft {
  grid-area: buttonLeft;
  justify-self: left;
}

.chevronBtnRight {
  grid-area: buttonRight;
  justify-self: right;
}