.wrapper {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-areas:
      "topLeft carousel topRight"
      "buttonLeft carousel buttonRight"
      "bottomLeft carousel bottomRight";
  justify-items: center;
  isolation: isolate;
}

.carouselElements {
  grid-area: carousel;
  display: grid;
  grid-template-areas: "scene";
  transform-style: preserve-3d;
  perspective: 1000px;
}

.carouselCard {
  filter: saturate(25%) blur(3px) brightness(75%);
  opacity: 0;
  grid-area: scene;
  width: 60rem;
  transition: transform 0.7s, opacity 0.5s, filter 0.5s, box-shadow 0.5s;
}

.prev {
  transform: rotateY(-30deg) translateX(-200%);
}

.left {
  opacity: 1;
  transform: rotateY(-12deg) translateX(-120%);
}

.active {
  z-index: 5;
  opacity: 1;
  filter: none;
  /*box-shadow: 0 0 15px 5px #000;*/
}

.right {
  opacity: 1;
  transform: rotateY(12deg) translateX(120%);
}

.next {
  transform: rotateY(30deg) translateX(200%);
}

@media screen and (max-width: 120rem) {
  .wrapper {
    max-width: 160rem;
  }

  .carouselElements {
    perspective: 750px;
  }

  .carouselCard {
    width: 48rem;
  }
}

@media screen and (max-width: 100rem) {
  .wrapper {
    max-width: 136.6rem;
  }

  .carouselElements {
    perspective: 500px;
  }

  .carouselCard {
    width: 40rem;
  }
}

@media screen and (max-width: 86rem) {
  .wrapper {
    max-width: 102.4rem;
  }

  .carouselElements {
    perspective: 250px;
  }

  .carouselCard {
    width: 32rem;
  }
}

@media screen and (max-width: 64rem) {
  .wrapper {
    max-width: 102.4rem;
    grid-template-areas:
        "carousel carousel"
        "buttonLeft buttonRight";
    row-gap: 4.8rem;
    column-gap: 6.4rem;
  }

  .carouselElements {
    perspective: 250px;
  }

  .left {
    transform: rotateY(-15deg) translateX(-115%);
  }

  .right {
    transform: rotateY(15deg) translateX(115%);
  }
}

/* Additional media query for Project Card.*/
@media screen and (max-width: 48rem) {
  .carouselCard {
    width: 28rem;
  }
}

@media screen and (max-width: 40rem) {
  .wrapper {
    row-gap: 3.2rem;
    column-gap: 4.8rem;
  }

  .carouselElements {
    transform-style: flat;
    perspective: 0;
  }

  .carouselCard {
    transition: transform 0s, opacity 0s, filter 0.5s, box-shadow 0.5s;
  }

  .left {
    opacity: 0;
  }

  .right {
    opacity: 0;
  }
}

@media screen and (max-width: 30rem) {
  .wrapper {
    row-gap: 2.4rem;
    column-gap: 3.2rem;
  }
}

@media screen and (max-width: 25rem) {
  .carouselCard {
    width: 24rem;
  }
}
