.contentWrapper {
  padding-inline: var(--contentPadding);
}

.sectionName {
  font-size: 7.2rem;
  margin-bottom: 1em;
}

.message {
  font-size: 3rem;
}

.loading {
  margin-bottom: 2.4rem;
}

.error {
  color: hsl(from var(--fxRed) h s l / 1);
}

.projectsShowcase {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: flex-start;
  gap: 9.6rem;
  padding-inline: var(--contentPadding);
  margin-bottom: 4.8rem;
}

.actions {
  margin-bottom: auto;
}

@media screen and (max-width: 120rem) {
  .contentWrapper {
    max-width: 160rem;
  }

  .sectionName {
    font-size: 6.4rem;
  }
}

@media screen and (max-width: 100rem) {
  .contentWrapper {
    max-width: 136.6rem;
  }

  .sectionName {
    font-size: 5.2rem;
  }
}

@media screen and (max-width: 86rem) {
  .contentWrapper {
    max-width: 102.4rem;
  }

  .sectionName {
    font-size: 4.4rem;
  }
}

@media screen and (max-width: 64rem) {
  .contentWrapper {
    max-width: calc(100% - 2.4rem);
  }

  .sectionName {
    font-size: 4.4rem;
    padding-inline: 4.8rem;
  }
}

@media screen and (max-width: 48rem) {
}

@media screen and (max-width: 30rem) {
}

@media screen and (max-width: 20rem) {
}

@media screen and (max-aspect-ratio: 4/3) {
}
