@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

:root {
  font-family: Chakra Petch, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --contentPadding: 2.4rem;

  --fxRed: rgba(230, 73, 128, 0.5);
  --fxGreen: rgba(56, 217, 169, 0.5);
  --fxBlue: rgba(116, 192, 252, 0.5);
}

#root {
  width: 100%;
}

body {
}

button {
  border: unset;
  background-color: unset;
  cursor: pointer;
  font-family: inherit;
}

a,
a:link,
a:visited {
  all: unset;
  cursor: pointer;
}

section {
  /* Code duplication because not all browsers support svh unit yet.*/
  min-height: 100vh;
  min-height: 100svh;
  color: #c3bcc2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font: unset;
}

img {
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
  max-width: 100%;
}

li,
ul {
  list-style: none;
}

input, textarea {
  outline: none;
  display: block;
  font: inherit;
  resize: none;
}

.snapToStart {
  scroll-snap-align: start;
}

.snapToEnd {
  scroll-snap-align: end;
}

#snow {
  position: fixed;
  inset: -25%;
  background: transparent url("assets/noise-transparent.png") repeat 0 0;
  opacity: 1;
  /*animation: glitchAnimation 0.2s infinite;*/
  filter: brightness(120%);
}

#vignette {
  position: fixed;
  inset: 0;
  box-shadow: 0 0 10vw rgba(0, 0, 0, 0.9) inset;
}

@keyframes glitchAnimation {
    0% {
      transform: translate(0,0)
    }
    10% {
      transform: translate(-5em,-5em)
    }
    20% {
      transform: translate(-10em, 5em)
    }
    30% {
      transform: translate(5em, -10em)
    }
    40% {
      transform: translate(-5em, 15em)
    }
    50% {
      transform: translate(-10em, 5em)
    }
    60% {
      transform: translate(15em, 0)
    }
    70% {
      transform: translate(0,10em)
    }
    80% {
      transform: translate(-15em, 0)
    }
    90% {
      transform: translate(10em, 5em)
    }
    100% {
      transform: translate(5em, 0)
    }
}