* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --fxRed: rgba(230, 73, 128, 0.6);
  --fxGreen: rgba(56, 217, 169, 0.6);
  --fxBlue: rgba(116, 192, 252, 0.6);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

a,
a:link,
a:visited {
  all: unset;
  cursor: pointer;
}

section {
  height: max(72rem, 100vh);
  width: 100vw;
  color: #c3bcc2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font: unset;
}
